<!DOCTYPE html>
<html>
<head>
  <title>ReactiveRecord</title>
  <%= stylesheet_link_tag    "reactive_record/application", :media => "all" %>
  <%= javascript_include_tag "reactive_record/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
